<h1>Angular Forms</h1>
<form  [formGroup]="greetingForm" (submit)="displayGreeting()">
  <input type="text" placeholder="Who are you?" formControlName="greeting" />
  <button  type="submit" [disabled]="greetingForm.invalid">Submit</button>
  <p *ngIf=" greetingForm.get('greeting').hasError('required') && greetingForm.get('greeting').touched">Name is required</p>
  <p *ngIf=" greetingForm.get('greeting').hasError('notIn') && greetingForm.get('greeting').touched">Name is forbidden</p>
</form>
<p *ngIf="displayedGreeting">Hello {{ displayedGreeting }}</p>